{% from 'macros/fields.html' import renderTextField %}
{% extends 'layout.html' %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
{% endblock %}

{% block main_content %}
    <form class="form" name="register" method="post" novalidate>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <span class="form__flash form__flash--{{category}}"> {{ message }}</span>
            {% endfor %}
        {% endwith %}

        <div class="form__container">
            {{ form.hidden_tag() }}

            {{ renderTextField(form.email) }}
            {{ renderTextField(form.password) }}
            {{ renderTextField(form.confirm_password) }}

            <span class="form__email">
                Already have an account? <a href="{{ url_for('movieLibrary.login') }}" class="form__link">Log in</a>
            </span>

            <div>
                {{ form.submit(class_="button button--form") }}
            </div>
        </div>
    </form>
{% endblock %}